{% extends "base.html" %}

{% block title %}Инструменты{% endblock %}

{% block content %}
<h1>Полезные инструменты</h1>
<div class="links">
    <div class="link-card">
        <h2>Работа с текстом</h2>
        <a href="https://deepL.com/translator" target="_blank">DeepL Переводчик</a>
        <a href="https://grammarly.com" target="_blank">Grammarly(Заблочено)</a>
    </div>
    
    <div class="link-card">
        <h2>Технические</h2>
        <a href="https://regex101.com" target="_blank">Regex Tester</a>
        <a href="https://jsonformatter.org" target="_blank">JSON Formatter</a>
        <a href="https://codebeautify.org" target="_blank">Code Beautifier</a>
    </div>

    <div class="link-card">
        <h2>Ультимативные</h2>
        <a href="https://chat.deepseek.com/" target="_blank">DeepSeek</a>
    </div>
</div>
{% endblock %}